Repository VerifiedInc/VerifiedInc.github.io, pull requests merged in 2023-07, with the labels that each got.

#106 [guides] time to implement estimate updated.
  docs/acceptance-guide.mdx
  docs/issuance-guide.mdx
Labels: 1 min review

#104 Update CredentialRequest schema
  docs/api-overview.mdx
  docs/reusables/credential-request-code-snippet.mdx
  docs/terminology.mdx
Labels: 1 min review, safe-change

#108 chore: add description for presentation requests
  docs/api-overview.mdx
  docs/terminology.mdx
Labels: 1 min review

#109 fix: typo in schema docs.
  docs/schema.mdx
Labels: hotfix, 1 min review
